body {
    background-color: #eaf2e3;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.styled-paragraph {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.styled-div {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
}

header {
    background-color: #5a5f73;
    color: #fff;
    text-align: center;
    padding: 1px;
}

section {
    padding: 10px;
}

footer {
    background-color: #1d1e22;
    color: #fff;
    padding: 10px 0;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

nav {
    background-color: #1182c5;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #f8a700;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: 3px solid #1182c5;
    border-radius: 10px;
}
.company-logo {
    width: 120px; /* Ajusta el tamaño del logo según sea necesario */
    margin: 5px auto;
}


.featured-image {
    width: 30%; /* Ajusta el tamaño de la imagen destacada a la mitad del contenedor */
    margin-top: 20px;
}


.social-icons {
    display: flex;
    gap: 15px; /* Espacio entre los iconos */
    justify-content: center;
    align-items: center;
  }
  
  .social-icon {
    text-decoration: none;
    color: #333; /* Color inicial de los iconos */
    font-size: 2rem; /* Tamaño de los iconos */
    transition: color 0.3s; /* Transición suave para el color */
  }
  
  .social-icon:hover {
    color: #ff4500; /* Color al pasar el ratón sobre el icono */
  }
  
  .instagram {
    color: #E1306C; /* Color específico para Instagram */
  }
  
  .github {
    color: #333; /* Color específico para GitHub */
  }
  